body {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.background {
    background-color: #d9d9d98d;
}

p {
    font-size: 1.9em;
}

h1 {
    font-size: 4em;
}

.fontStyle {
    font-family: serif;
}

.fontSize {
    font-size: large;
}